$main:#2F2F30;
$white:#ffffff;
$black:#000000;
$purple:#5057b1;
$green:#63de74;
$orange:#ffa957;
$theme-color:#d98e4d;
$gray:#F2F2F2;
$gray1:#9B9895;
$gray2:#e5e5e5;
$courage:red;
$secondry-color:darken(#F9F9FF,2%);
$third-color:#413736;
$aqua:#2CB3A2;


/*******************************
********responsive design*******/
$minMobile:"(min-width: 320px)";
$maxMobile:"(max-width: 481px)";
$minmobile:"(min-width: 767px)";
$maxmobile:"(max-width: 768px)";
$maxSmall:"(max-width: 991px)";
$minSmall:"(min-width: 767px)";
$minMedium:"(min-width: 992px)";
$minLarge:"(min-width: 1200px)";
$maxLarge:"(max-width: 1400px)";

$facebook:#3B5998;
$twitter:#1DCAFF;
$google:#DD4B39;