
.subscribe
{
	padding-top:100px;
	padding-bottom:50px;
	.form-horizontal
	{
		margin-top: 100px;
		.form-group input
		{
			display: inline-block;
			max-width: 600px;
			border: 0;
			margin-right: 100px;
			padding: 30px;
			border-radius: 35px;
			@include shadow(0px,19px,35px,0px,rgba($black, 0.2));
		}
		.button 
		{
			display:inline-block;
			.btn-primary
			{
				@include btn($green,$green,$white,35px);
				position: relative;
				left: 130px;
				bottom:5px;
				@extend %btn-hover1;
				&:hover 
				{
					color: $green;
				}
			}
		}
	}
	@media #{$maxSmall}
	{
		.form-horizontal
		{
			margin-right: 0px;
			.form-group input
			{
				margin: 0;
			}
			.button 
			{
				display:block;
				.btn-primary
				{
					left: 0;
					top: 20px;
				}
			}
		}
	}
}